<div ng-controller="CommentsCtrl as commentsCtrl">
  <form ng-submit="commentsCtrl.addComment()">
    <textarea class="comment-input-text" ng-model="commentsCtrl.commentText"></textarea>
    <input class="comment-input-email" type="email" ng-model="commentsCtrl.inputEmail">
    <input type="submit" class="comment-submit"/>
  </form>
  <ul class="comments">
    <li class="comment" ng-repeat="comment in commentsCtrl.comments">
      <div class="text">{{comment.text}}</div>
      <div class="email">{{comment.email}}</div>
    </li>
  </ul>
</div>


