<div class="comments-wrapper" ng-controller="CommentsCtrl as commentsCtrl">
  <h1 class="add-comment-title">Join the discussion</h1>
  <form ng-submit="commentsCtrl.addComment()">
    <textarea class="comment-input-text comments-input" ng-model="commentsCtrl.commentText" placeholder="What do u think?"></textarea>
    <input class="comment-input-email comments-input" type="email" ng-model="commentsCtrl.inputEmail" placeholder="email">
    <input type="submit" class="comment-submit"/>
  </form>
  <ul class="comments">
    <li class="comment" ng-repeat="comment in commentsCtrl.comments">
      <img class="profile-image" ng-src="{{comment.profileImage || '/assets/images/default-profile.jpg'}}" alt="profile image"/>
      <div class="text">“{{comment.text}}”</div>
      <div class="email">{{comment.email}}</div>
    </li>
  </ul>
</div>


